<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--회원가입-->
    <form action="create" method="post" th:object="${object}"> <!--post방식이라서 @GetMapping이 아니라 @PostMapping으로 해줘야 됨-->
                                        <!-- post방식의 create로 맵핑되어 있는 @PostMapping으로 이동해라는 뜻-->
        <input type="text" placeholder="이름 입력" name="userName"/> <!-- Name/에 받은 값을 submit이 데이터를 보내는데 그거를 action="create"로 보낸다는 뜻-->
                                                        <!--object(=member)가 들어오면 이름을 받을건데 이 이름이 member의 변수이름과 같아야한다고 함-->


        <button type="submit">회원가입</button>

    </form>
</body>
</html>